.top-page {
  width: 100vw;
  padding: 0 30px;
}

.image-container {
  width: 100%;
  height: 100%;
}

.image-container img {
  transition: all 0.3s ease-in-out;
}

.image-container img:hover {
  transform: translate(-5%, -5%);
}

.abecchi-random-image {
  transition: transform 0.3s ease-in-out;
}

.abecchi-random-image:hover {
  transform: translate(-5%, -5%);
}
